In [2]:
#coding=utf-8
'''
TopQuant-简称TQ极宽智能量化回溯分析系统，培训课件-配套教学python课件程序

Top极宽量化(原zw量化)，Python量化第一品牌 
by Top极宽·量化开源团队 2017.10.1 首发

网站： www.TopQuant.vip      www.ziwang.com
QQ群: Top极宽量化1群，124134140
      Top极宽量化2群，650924099
      Top极宽量化3群，450853713

'''


import sys;
sys.path.append("/Users/miaoyuesun/Code_Workspace/brad_public_workspace_mac/极宽/Top极宽&零起点系列配套资源/kb_demo/topqt")
#
path = "/Users/miaoyuesun/Code_Workspace/brad_public_workspace_mac/极宽/Top极宽&零起点系列配套资源/kb_demo/"
import pandas as pd

#
import zsys
import ztools as zt
import ztools_str as zstr
import ztools_web as zweb
import ztools_data as zdat
import ztools_draw as zdr
import ztools_ai as zai
import zpd_talib as zta

In [11]:
import matplotlib.pyplot as plt
%matplotlib inline

# 1. Pre-processing/Split Data

In [4]:
#1 Reading data..
print('#1,rd data')
fss=path+'/data/sh2018.csv'
xdf=pd.read_csv(fss,index_col=0)
xdf=xdf.sort_index()
zt.prDF('xdf',xdf)

#1,rd data

 xdf
              open    high   close     low     volume      amount
date
1994-01-03  837.70  840.65  833.90  831.66  101005600  1048326000
1994-01-04  835.97  836.97  832.69  829.89   65274300   692748000
1994-01-05  829.30  847.05  846.98  823.10   89412100   975053000
1994-01-06  850.78  869.33  869.33  850.78  184511700  1970032000
1994-01-07  875.18  883.99  879.64  873.01  168688400  1752262000
1994-01-10  891.99  900.30  900.30  889.73  187595100  1896704000
1994-01-11  903.54  907.09  891.79  884.00  136850000  1590901000
1994-01-12  891.83  900.23  888.04  885.88  127429900  1306063000
1994-01-13  889.02  899.14  897.46  888.80   80792100   838602000
1994-01-14  900.13  900.99  849.23  842.62  242925400  2505558000

               open     high    close      low       volume        amount
date
2018-05-11  3179.80  3180.76  3163.26  3162.21  13065974900  167364290366
2018-05-14  3167.04  3183.82  3174.03  3163.48  12932735300  172410691054
2018-05-15  3180.42  3192.81  3192.12  3164.52  12454905100  162990790010
2018-05-16  3180.23  3191.95  3169.56  3166.81  13052496800  174590979834
2018-05-17  3170.01  3172.77  3154.28  3148.62  11399556700  150598842185
2018-05-18  3151.08  3193.45  3193.30  3144.78  13651691800  168038057477
2018-05-21  3206.18  3219.74  3213.84  3203.34  16445941300  202663464515
2018-05-22  3211.25  3214.59  3214.35  3192.23  14429268400  185721667752
2018-05-23  3205.44  3205.44  3168.96  3168.96  15780764800  199358101015
2018-05-24  3167.94  3173.53  3154.65  3152.07  12408580000  160658185502

len-DF: 5931

In [6]:
xdf.tail()

                open      high     close       low       volume        amount
date
2018-05-18  3151.082  3193.453  3193.303  3144.776  13651691800  168038057477
2018-05-21  3206.176  3219.740  3213.840  3203.336  16445941300  202663464515
2018-05-22  3211.247  3214.589  3214.350  3192.228  14429268400  185721667752
2018-05-23  3205.437  3205.437  3168.964  3168.964  15780764800  199358101015
2018-05-24  3167.939  3173.531  3154.651  3152.069  12408580000  160658185502

In [7]:
#2. shift the ['close'] column to create a new column called ['y']
print('#2,xed data')
xdf['y']=xdf['close'].shift(-1)
zt.prDF('xdf#2.1',xdf)

#2.2 fill NaN by padding the last value forward.
xdf.fillna(method='pad',inplace=True)
zt.prDF('xdf#2.2',xdf)

#2,xed data

 xdf#2.1
              open    high   close     low     volume      amount       y
date
1994-01-03  837.70  840.65  833.90  831.66  101005600  1048326000  832.69
1994-01-04  835.97  836.97  832.69  829.89   65274300   692748000  846.98
1994-01-05  829.30  847.05  846.98  823.10   89412100   975053000  869.33
1994-01-06  850.78  869.33  869.33  850.78  184511700  1970032000  879.64
1994-01-07  875.18  883.99  879.64  873.01  168688400  1752262000  900.30
1994-01-10  891.99  900.30  900.30  889.73  187595100  1896704000  891.79
1994-01-11  903.54  907.09  891.79  884.00  136850000  1590901000  888.04
1994-01-12  891.83  900.23  888.04  885.88  127429900  1306063000  897.46
1994-01-13  889.02  899.14  897.46  888.80   80792100   838602000  849.23
1994-01-14  900.13  900.99  849.23  842.62  242925400  2505558000  859.28

               open     high    close      low       volume        amount        y
date
2018-05-11  3179.80  3180.76  3163.26  3162.21  13065974900  167364290366  3174.03
2018-05-14  3167.04  3183.82  3174.03  3163.48  12932735300  172410691054  3192.12
2018-05-15  3180.42  3192.81  3192.12  3164.52  12454905100  162990790010  3169.56
2018-05-16  3180.23  3191.95  3169.56  3166.81  13052496800  174590979834  3154.28
2018-05-17  3170.01  3172.77  3154.28  3148.62  11399556700  150598842185  3193.30
2018-05-18  3151.08  3193.45  3193.30  3144.78  13651691800  168038057477  3213.84
2018-05-21  3206.18  3219.74  3213.84  3203.34  16445941300  202663464515  3214.35
2018-05-22  3211.25  3214.59  3214.35  3192.23  14429268400  185721667752  3168.96
2018-05-23  3205.44  3205.44  3168.96  3168.96  15780764800  199358101015  3154.65
2018-05-24  3167.94  3173.53  3154.65  3152.07  12408580000  160658185502      NaN

len-DF: 5931

 xdf#2.2
              open    high   close     low     volume      amount       y
date
1994-01-03  837.70  840.65  833.90  831.66  101005600  1048326000  832.69
1994-01-04  835.97  836.97  832.69  829.89   65274300   692748000  846.98
1994-01-05  829.30  847.05  846.98  823.10   89412100   975053000  869.33
1994-01-06  850.78  869.33  869.33  850.78  184511700  1970032000  879.64
1994-01-07  875.18  883.99  879.64  873.01  168688400  1752262000  900.30
1994-01-10  891.99  900.30  900.30  889.73  187595100  1896704000  891.79
1994-01-11  903.54  907.09  891.79  884.00  136850000  1590901000  888.04
1994-01-12  891.83  900.23  888.04  885.88  127429900  1306063000  897.46
1994-01-13  889.02  899.14  897.46  888.80   80792100   838602000  849.23
1994-01-14  900.13  900.99  849.23  842.62  242925400  2505558000  859.28

               open     high    close      low       volume        amount        y
date
2018-05-11  3179.80  3180.76  3163.26  3162.21  13065974900  167364290366  3174.03
2018-05-14  3167.04  3183.82  3174.03  3163.48  12932735300  172410691054  3192.12
2018-05-15  3180.42  3192.81  3192.12  3164.52  12454905100  162990790010  3169.56
2018-05-16  3180.23  3191.95  3169.56  3166.81  13052496800  174590979834  3154.28
2018-05-17  3170.01  3172.77  3154.28  3148.62  11399556700  150598842185  3193.30
2018-05-18  3151.08  3193.45  3193.30  3144.78  13651691800  168038057477  3213.84
2018-05-21  3206.18  3219.74  3213.84  3203.34  16445941300  202663464515  3214.35
2018-05-22  3211.25  3214.59  3214.35  3192.23  14429268400  185721667752  3168.96
2018-05-23  3205.44  3205.44  3168.96  3168.96  15780764800  199358101015  3154.65
2018-05-24  3167.94  3173.53  3154.65  3152.07  12408580000  160658185502  3154.65

len-DF: 5931

In [8]:
# as we can see the last two rows of the columns are the same, both are 3154.651
xdf.tail()

                open      high     close       low       volume        amount         y
date
2018-05-18  3151.082  3193.453  3193.303  3144.776  13651691800  168038057477  3213.840
2018-05-21  3206.176  3219.740  3213.840  3203.336  16445941300  202663464515  3214.350
2018-05-22  3211.247  3214.589  3214.350  3192.228  14429268400  185721667752  3168.964
2018-05-23  3205.437  3205.437  3168.964  3168.964  15780764800  199358101015  3154.651
2018-05-24  3167.939  3173.531  3154.651  3152.069  12408580000  160658185502  3154.651

In [9]:
#3.1 training data...
print('#3,cut data')
tim0str,tim9str='2010-10-10','2017-12-31'
df_train=zdat.df_kcut8tim(xdf,'',tim0str,tim9str)
zt.prDF('#3.1 df_train\n',df_train)
#
#3.2 testing data...
df_test=xdf[xdf.index>'2018'] #.tail(100)
zt.prDF('#3.2 df_test\n',df_test)

#-----------------------    
print('\nok!')

#3,cut data

 #3.1 df_train

               open     high    close      low       volume        amount        y
date
2010-10-11  2755.03  2823.60  2806.94  2755.03  20753526400  253469818880  2841.41
2010-10-12  2795.76  2843.43  2841.41  2782.34  16742832000  211787464704  2861.36
2010-10-13  2842.14  2862.04  2861.36  2826.22  18528166400  228385390592  2879.64
2010-10-14  2881.55  2919.41  2879.64  2864.52  22946171200  264682455040  2971.16
2010-10-15  2863.74  2971.16  2971.16  2858.22  23656856000  272950771712  2955.23
2010-10-18  2985.46  3026.10  2955.23  2944.72  26331694400  301231079424  3001.85
2010-10-19  2949.63  3002.37  3001.85  2931.91  17066782400  199628275712  3003.95
2010-10-20  2947.51  3041.15  3003.95  2942.50  20780441600  262064865280  2983.53
2010-10-21  3009.22  3018.24  2983.53  2958.55  16143614400  205073039360  2975.04
2010-10-22  2976.75  2997.62  2975.04  2954.62  14707988800  194901557248  3051.42

               open     high    close      low       volume        amount        y
date
2017-12-18  3268.03  3280.54  3267.92  3254.18  12070038900  149738224054  3296.54
2017-12-19  3266.02  3296.94  3296.54  3266.02  11514013400  150786582711  3287.61
2017-12-20  3296.74  3300.21  3287.61  3276.12  13774511800  167961847923  3300.06
2017-12-21  3281.12  3309.22  3300.06  3267.40  14212792700  173740095582  3297.06
2017-12-22  3297.68  3307.33  3297.06  3293.44  12404732600  152099443907  3280.46
2017-12-25  3296.21  3312.30  3280.46  3270.44  14689363500  177293589884  3306.12
2017-12-26  3277.84  3307.30  3306.12  3274.33  14243450100  174679263836  3275.78
2017-12-27  3302.46  3307.08  3275.78  3270.35  16267489000  198264675156  3296.38
2017-12-28  3272.29  3304.10  3296.38  3263.73  17537167000  208019859614  3307.17
2017-12-29  3295.25  3308.22  3307.17  3292.77  14158683600  170356755129  3348.33

len-DF: 1762

 #3.2 df_test

               open     high    close      low       volume        amount        y
date
2018-01-02  3314.03  3349.05  3348.33  3314.03  20227886000  227788461113  3369.11
2018-01-03  3347.74  3379.92  3369.11  3345.29  21383614900  258366523235  3385.71
2018-01-04  3371.00  3392.83  3385.71  3365.30  20695528800  243090768694  3391.75
2018-01-05  3386.46  3402.07  3391.75  3380.24  21306068100  248187840542  3409.48
2018-01-08  3391.55  3412.73  3409.48  3384.56  23616510600  286213219095  3413.90
2018-01-09  3406.11  3417.23  3413.90  3403.59  19148855100  238249975070  3421.83
2018-01-10  3414.11  3430.21  3421.83  3398.84  20909499700  254515441261  3425.34
2018-01-11  3415.58  3426.48  3425.34  3405.64  17381213300  218414134129  3428.94
2018-01-12  3423.88  3435.42  3428.94  3417.98  17406340400  215961455748  3410.49
2018-01-15  3428.95  3442.50  3410.49  3402.31  23200928300  286362732919  3436.59

               open     high    close      low       volume        amount        y
date
2018-05-11  3179.80  3180.76  3163.26  3162.21  13065974900  167364290366  3174.03
2018-05-14  3167.04  3183.82  3174.03  3163.48  12932735300  172410691054  3192.12
2018-05-15  3180.42  3192.81  3192.12  3164.52  12454905100  162990790010  3169.56
2018-05-16  3180.23  3191.95  3169.56  3166.81  13052496800  174590979834  3154.28
2018-05-17  3170.01  3172.77  3154.28  3148.62  11399556700  150598842185  3193.30
2018-05-18  3151.08  3193.45  3193.30  3144.78  13651691800  168038057477  3213.84
2018-05-21  3206.18  3219.74  3213.84  3203.34  16445941300  202663464515  3214.35
2018-05-22  3211.25  3214.59  3214.35  3192.23  14429268400  185721667752  3168.96
2018-05-23  3205.44  3205.44  3168.96  3168.96  15780764800  199358101015  3154.65
2018-05-24  3167.94  3173.53  3154.65  3152.07  12408580000  160658185502  3154.65

len-DF: 94

ok!

In [18]:
zdat.df_kcut8tim?

In [19]:
def df_get8tim(df,ksgn,kpre,kn9,kpos):
    #@ zdr.dr_df_get8tim
    #
    xdf=pd.DataFrame(columns=['nam','dnum'])
    ds=pd.Series(['',0],index=['nam','dnum'])
    for xc in range(1,kn9+1):
        xss,kss='{0:02d}'.format(xc),'{0}{1:02d}'.format(kpre,xc)
        df2=df[df[ksgn].str.find(kss)==kpos]
        ds['nam'],ds['dnum']=xss,len(df2['gid'])
        xdf=xdf.append(ds.T,ignore_index=True)
        #print(xc,'#',xss,kss)
    #
    xdf.index=xdf['nam']
    return xdf

In [21]:
df_train

                open      high     close       low       volume        amount         y
date
2010-10-11  2755.026  2823.597  2806.942  2755.026  20753526400  253469818880  2841.407
2010-10-12  2795.764  2843.428  2841.407  2782.341  16742832000  211787464704  2861.361
2010-10-13  2842.138  2862.035  2861.361  2826.221  18528166400  228385390592  2879.636
2010-10-14  2881.552  2919.414  2879.636  2864.519  22946171200  264682455040  2971.160
2010-10-15  2863.738  2971.160  2971.160  2858.216  23656856000  272950771712  2955.227
2010-10-18  2985.462  3026.099  2955.227  2944.715  26331694400  301231079424  3001.853
2010-10-19  2949.630  3002.371  3001.853  2931.910  17066782400  199628275712  3003.951
2010-10-20  2947.511  3041.151  3003.951  2942.505  20780441600  262064865280  2983.533
2010-10-21  3009.225  3018.244  2983.533  2958.546  16143614400  205073039360  2975.043
2010-10-22  2976.754  2997.624  2975.043  2954.619  14707988800  194901557248  3051.419
2010-10-25  2979.706  3051.539  3051.419  2959.298  19211424000  251711406080  3041.543
2010-10-26  3065.844  3073.384  3041.543  3017.818  19877891200  260361928704  2997.048
2010-10-27  3031.645  3056.399  2997.048  2988.871  17626828800  230105300992  2992.579
2010-10-28  2989.290  3007.013  2992.579  2969.304  14353793600  185681182720  2978.835
2010-10-29  2993.296  2996.774  2978.835  2955.480  14710976000  194560393216  3054.021
2010-11-01  2986.886  3054.050  3054.021  2986.886  18624318400  251047182336  3045.434
2010-11-02  3061.631  3089.568  3045.434  3029.324  22494728000  306509479936  3030.988
2010-11-03  3044.022  3069.066  3030.988  3017.098  18984803200  243967885312  3086.939
2010-11-04  3035.366  3087.421  3086.939  3035.366  17685708800  228103077888  3129.497
2010-11-05  3129.870  3142.589  3129.497  3105.921  21195580800  273178394624  3159.512
2010-11-08  3140.395  3160.699  3159.512  3124.091  20541795200  259242016768  3135.000
2010-11-09  3159.019  3159.019  3135.000  3110.343  19245574400  248089378816  3115.356
2010-11-10  3120.440  3124.256  3115.356  3093.878  18505241600  248974311424  3147.744
2010-11-11  3108.511  3186.720  3147.744  3102.774  21027473600  286984437760  2985.435
2010-11-12  3121.922  3150.146  2985.435  2975.163  23308496000  298405920768  3014.413
2010-11-15  2984.872  3016.131  3014.413  2939.680  15315244800  197094096896  2894.538
2010-11-16  3007.643  3007.643  2894.538  2885.753  17108937600  221674192896  2838.857
2010-11-17  2852.478  2891.052  2838.857  2824.121  12378026400  158701993984  2865.452
2010-11-18  2855.605  2873.696  2865.452  2827.179  10222618400  127770550272  2888.566
2010-11-19  2879.655  2888.750  2888.566  2806.644  12377846400  155775074304  2884.371
...              ...       ...       ...       ...          ...           ...       ...
2017-11-20  3361.356  3393.106  3392.399  3337.116  17652468300  228308136763  3410.498
2017-11-21  3382.360  3419.802  3410.498  3377.599  19687180300  265303849860  3430.464
2017-11-22  3417.331  3442.178  3430.464  3404.287  21356709300  273674733427  3351.918
2017-11-23  3425.009  3429.424  3351.918  3342.332  21526539300  270469023976  3353.821
2017-11-24  3340.384  3360.746  3353.821  3328.334  15956966300  207623884889  3322.230
2017-11-27  3346.657  3347.051  3322.230  3315.264  16643917000  205803398548  3333.657
2017-11-28  3311.232  3333.800  3333.657  3300.781  13824779900  167062933356  3337.862
2017-11-29  3335.567  3343.062  3337.862  3305.572  18380593200  217769438092  3317.188
2017-11-30  3328.643  3340.920  3317.188  3306.283  15659585100  192076785070  3317.617
2017-12-01  3315.105  3324.516  3317.617  3302.440  13919830000  177490257973  3309.618
2017-12-04  3310.381  3323.996  3309.618  3304.103  14805328800  185025359645  3303.675
2017-12-05  3301.691  3315.737  3303.675  3300.512  20827886200  243489600070  3293.965
2017-12-06  3291.313  3296.201  3293.965  3254.611  15160445200  179174378912  3272.054
2017-12-07  3283.279  3291.282  3272.054  3259.164  13210590000  161764588906  3289.992
2017-12-08  3264.478  3297.130  3289.992  3258.759  13320931400  165761649765  3322.196
2017-12-11  3290.488  3322.674  3322.196  3288.295  13196598400  172986431447  3280.814
2017-12-12  3320.310  3320.310  3280.814  3280.329  12460482700  160978615176  3303.037
2017-12-13  3278.397  3304.010  3303.037  3273.325  11199864700  145295312041  3292.439
2017-12-14  3302.932  3309.530  3292.439  3282.573  12054423500  151346087724  3266.137
2017-12-15  3287.529  3287.529  3266.137  3259.388  13094061800  161877917411  3267.922
2017-12-18  3268.034  3280.544  3267.922  3254.178  12070038900  149738224054  3296.538
2017-12-19  3266.019  3296.940  3296.538  3266.019  11514013400  150786582711  3287.606
2017-12-20  3296.740  3300.212  3287.606  3276.120  13774511800  167961847923  3300.059
2017-12-21  3281.118  3309.223  3300.059  3267.404  14212792700  173740095582  3297.063
2017-12-22  3297.685  3307.328  3297.063  3293.442  12404732600  152099443907  3280.461
2017-12-25  3296.211  3312.300  3280.461  3270.441  14689363500  177293589884  3306.125
2017-12-26  3277.837  3307.299  3306.125  3274.327  14243450100  174679263836  3275.783
2017-12-27  3302.461  3307.080  3275.783  3270.349  16267489000  198264675156  3296.385
2017-12-28  3272.291  3304.096  3296.385  3263.728  17537167000  208019859614  3307.172
2017-12-29  3295.246  3308.225  3307.172  3292.770  14158683600  170356755129  3348.326

[1762 rows x 7 columns]

In [17]:
df_test[['close', 'y']].tail()

               close         y
date
2018-05-18  3193.303  3213.840
2018-05-21  3213.840  3214.350
2018-05-22  3214.350  3168.964
2018-05-23  3168.964  3154.651
2018-05-24  3154.651  3154.651

In [22]:
#4.1 Before using ml packages, we still need to define a list:

clst = ['open', 'high', 'low', 'close']

In [23]:
#4.2 create elements for machine learning applications.

x_train = df_train[clst].values
y_train = df_train['y'].values
x_test = df_test[clst].values
y_test = df_test['y'].values

In [25]:
y_test

array([3369.108, 3385.71 , 3391.75 , 3409.48 , 3413.9  , 3421.834,
       3425.345, 3428.941, 3410.488, 3436.594, 3444.671, 3474.754,
       3487.864, 3501.362, 3546.505, 3559.465, 3548.307, 3558.129,
       3523.001, 3488.009, 3480.833, 3446.98 , 3462.081, 3487.497,
       3370.652, 3309.26 , 3262.05 , 3129.851, 3154.125, 3184.959,
       3199.159, 3268.559, 3289.024, 3329.574, 3292.068, 3259.408,
       3273.755, 3254.528, 3256.926, 3289.642, 3271.668, 3288.406,
       3307.166, 3326.699, 3310.239, 3291.382, 3291.112, 3269.882,
       3279.252, 3290.64 , 3280.952, 3263.48 , 3152.761, 3133.722,
       3166.649, 3122.29 , 3160.531, 3168.897, 3163.179, 3136.633,
       3131.111, 3138.294, 3190.322, 3208.082, 3180.158, 3159.052,
       3110.649, 3066.797, 3091.399, 3117.376, 3071.543, 3068.012,
       3128.927, 3117.974, 3075.03 , 3082.232, 3081.177, 3100.859,
       3091.033, 3136.645, 3161.498, 3159.15 , 3174.413, 3163.263,
       3174.032, 3192.118, 3169.565, 3154.283, 3193.303, 3213.84 ,
       3214.35 , 3168.964, 3154.651, 3154.651])

# 2. Linear Regression